Array
# for_loops
# homework
# pattern_in_c
revision
If_Else
2D_Array
Functions
variable
pointer
# while_loop
String
Dynamic_Memory_allocation
typeCasting
fileHandling
structure
/ptrn8.c
/ptrn9.c 
/ptrn10.c
/ptrn11.c   
/ptrn12.c
/ptrn13.c
/ptrn14.c
/ptrn15.c