# Array
# for_loops
# homework
# pattern_in_c
# revision
# If_Else
# 2D_Array
# Functions
# variable
# pointer
# while_loop
# String
# Dynamic_Memory_allocation
# typeCasting
# fileHandling
# structure